{% extends 'cinema/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="border p-4 mb-5 mt-4">
    <legend class="border-bottom pb-3 mb-3 mt-5">التسجيل</legend>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input class="btn btn-secondary" type="submit" value="تسجيل">
    </form>
    <div class="border-top mt-4 pt-2">
        <small>اذا كان لديك حساب من قبل فيمكنك <a href="{% url 'login' %}">تسجيل الدخول</small>
    </div>
</div>
{% endblock content %}
