{% load static %}
<!DOCTYPE html lang="ar">
<html>
     <head>
        
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         {% if title %}
         <title> سينما تعليمية للاطفال {{title}}</title>
         {% else %}
         <title>سينما</title>
         {% endif %}
         <link rel="stylesheet" href="{% static 'cinema/css/bootstrap.min.css' %}">
         <link rel="stylesheet" href="{% static 'cinema/css/main.css' %}">
     </head>
     <body>
           <section>
             <!--start Navbar-->
             <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                   <img src="{% static 'cinema/images/min.logo.png' %}" alt="Cod for Iraq" width=35px>
                  سينما تعليمية للاطفال </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" size=20>
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">    
                        <a class="nav-link" href= "{% url 'home' %}">الرئيسية<span class="sr-only">(current)</span></a>
                    </li>
                  </ul> 
                  
                    <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">تسجيل خروج</a></li>
                    {% else %}
                   
                       <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">تسجيل</a></li>
                       <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">تسجيل دخول</a></li>
                        {% endif %}
                    </ul>
              </nav>
             <!--End Navbar-->
  <!--Section: Jumbotron-->
            <section class="card wow fadeIn container" style="background-image: url(https://www.whoa.in/WhoaPhoto/funny-childran-facebook-cover.jpg);background-size: cover; visibility: visible; animation-name: fadeIn;">

                <!-- Content -->
                <div class="card-body text-white text-center py-5 px-5 my-5">

                    <h1 class="mb-4">
                        <strong>سينما الاطفال التعليمية</strong>
                    </h1>
                    <p>
                        <strong>مرحباً بكم في سينما الاطفال التعليمية</strong>
                    </p>
                    <p class="mb-4">
                        <strong>يمكنكم مشاهدة كل ما تحبون من القصص من خلال تطبيقنا الرائع...قراءة ممتعة</strong>
                    </p>
                    
                </div>
                <!-- Content -->
            </section>
            <!--Section: Jumbotron-->

    
                                  {% block content %}
      
      
                            {% endblock content %} 
        </body>
                  
          
      

           </footer ><center>
          </header>
           <div><h2>تواصل معنا عبر وسائل التواصل الاجتماعي</h2>
           <h2><i class="fab fa-twitter"></i>                  <i class="fab fa-facebook"></i>             <i class="fab fa-telegram"></i>           <i class="fab fa-instagram"></i> </h2>           
           </div>  
           <script src="{% static 'cinema/js/jquery-3.3.1.slim.min.js' %}"></script> 
           <script src="{% static 'cinema/js/popper.min.js' %}"></script>
           <script src="{% static 'cinema/js/bootstrap.min.css' %}"></script>
           <script src="{% static 'cinema/js/fontawesome-all.min.js' %}"></script> 
</center>
       </footer>
</html>
