{% load static %}
<!DOCTYPE html lang="ar">
<html>
     <head>
        
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         {% if title %}
         <title> سينما تعليمية للاطفال {{title}}</title>
         {% else %}
         <title>سينما</title>
         {% endif %}
         <link rel="stylesheet" href="{% static 'cinema/css/bootstrap.min.css' %}">
         <link rel="stylesheet" href="{% static 'cinema/css/main.css' %}">
     </head>
     <body>
           <section>

           
             <!--start Navbar-->
             <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                   <img src="{% static 'cinema/images/min.logo.png' %}" alt="Cod for Iraq" width=35px>
                  سينما تعليمية للاطفال </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" size=20>
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">    
                        <a class="nav-link" href= "{% url 'home' %}">الرئيسية<span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                    <ul class="navbar-nav mr-auto">
                       <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">تسجيل</a></li>
                       <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">تسجيل دخول</a></li>
                       <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">تسجيل خروج</a></li>
                    </ul>
              </nav>
             <!--End Navbar-->
<head>

</head>
<body>
     <header>
     </header>
     <section>
         <img src="{% static 'cinema/images/background.png' %}" alt="Code for Iraq" sizes=200px height=400px width="400px" align="left">
             <div class="container">
                 <div  class="row mt-4">
                      <div class="col-md-8">
                            {% block content %}
      
      
                            {% endblock content %}       
                </div> 
                <div class="col-md-18">
                    <div class="card mb-3">
                    <h3 class="text-center bg-secondary text-light p-2">آخر القصص</h3>
                    {% include 'cinema/last.html' %}
                </div>
                </div>
      
      </section>
</body>
                  
          
      

           </footer>
          </header>
           <div><h2>تواصل معنا عبر وسائل التواصل الاجتماعي</h2>
           <h2><i class="fab fa-twitter"></i>                  <i class="fab fa-facebook"></i>             <i class="fab fa-telegram"></i>           <i class="fab fa-instagram"></i> </h2>           
           </div>  
           <script src="{% static 'cinema/js/jquery-3.3.1.slim.min.js' %}"></script> 
           <script src="{% static 'cinema/js/popper.min.js' %}"></script>
           <script src="{% static 'cinema/js/bootstrap.min.css' %}"></script>
           <script src="{% static 'cinema/js/fontawesome-all.min.js' %}"></script> 

       
</html>
