{% extends "cinema/base.html" %}
{% load static %}
{% block content %}
<nav class="navbar navbar-light" >
  <form class="form-inline" method="POST">
{% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="ابحث عن قصة" aria-label="Search" name="search_box">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">بحث</button>
  </form>
</nav>
<div class="container">

          
            <hr class="my-5">

            <!--Section: Cards-->
            <section class="text-center">

                <!--Grid row-->
                <div class="row mb-4 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
{% for Cinema in Cinema  %}
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">

                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view overlay">
                                <div class="embed-responsive embed-responsive-16by9 rounded-top">
                                    <img class="embed-responsive-item" src="{{Cinema.pic.url}}" allowfullscreen="">
                                </div>
                            </div>

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">{{Cinema.name}}</h4>
                                <!--Text-->
                              <a href="story/{{Cinema.pk}}">
                                <p class="card-text">
                                    <strong>شاهد القصة من هنا</strong>
                                </p></a>
                            </div>

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->
                        {% endfor %}
            </section>
            <!--Section: Cards-->

        </div> 
    {% endblock %}
